<h4 id = "textIns">Inscription</h4>
<div class="row" style="margin-left: 10%;margin-top: 80px;">
    <div class="col-sm-8 col-sm-offset-2">
        <h6 id = "textErr" class="alert alert-success" role="alert" *ngIf="isIns" style="width: 75%;"><strong>Inscription en cours...</strong></h6>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="nom">
                    Nom
                </label>
                <input type="text" id="nom" style="border-top: 0px;border-left: 0px;border-right: 0px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: dodgerblue; width: 75%;" class="form-control" name="nom" ngModel required>
            </div>
            <div class="form-group">
                <label for="prenom">
                    Prenom
                </label>
                <input type="text" id="prenom" style="border-top: 0px;border-left: 0px;border-right: 0px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: dodgerblue; width: 75%;" class="form-control" name="prenom" ngModel required>
            </div>
            <div class="form-group">
                <label for="email">
                    Email
                </label>
                <input type="email" id="email" style="border-top: 0px;border-left: 0px;border-right: 0px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: dodgerblue; width: 75%;" class="form-control" name="email" ngModel required>
            </div>
            <div class="form-group">
                <label for="mdp">
                    Mot De Passe
                </label>
                <input type="password" id="mdp" style="border-top: 0px;border-left: 0px;border-right: 0px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: dodgerblue; width: 75%;" class="form-control" name="mdp" ngModel required minlength="4">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Inscription</button>      
        </form>
        <h6 id = "textErr" class="alert alert-danger" role="alert" *ngIf="isErreur" style="width: 75%;"><strong>Une erreur s'est produite.</strong> Vérifier vos coordonnées!!!</h6>
    </div>
  </div>
