#textIns{
    position: relative;
    margin: auto;
    font-size: x-large;
    width: 115px;
    animation-name: texte;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes texte {
    0%   {background-color: dodgerblue;color: aliceblue;}
    50%  {background-color: aliceblue;color: dodgerblue;}
    100% {background-color: dodgerblue;color: aliceblue;}
}