<li class='list-group-item' [ngStyle]="{hide: getHide()}">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: block;height: 100%;width: 100%;">voir plus</a>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="progress blue" style="margin-left: 50%;">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">{{probabilite*100}}%</div> 
                        </div>
                        
                    </div>
                    <div style="width: 50%;float: right;"><img src="https://img.icons8.com/dusk/44/000000/camcorder.png"><strong>{{camera}}</strong><div id="circle" style="display: inline-block;"></div></div>
                </div>
            </div>
            
            <div class="col">
                <h4>Depuis : {{timeString}}</h4>
            </div>
        </div>
    </div>
</li>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Title</h4>
        </div>
        <div class="modal-body">
          <p>Text</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-alert" data-dismiss="modal" (click)='signaler()'>Signaler</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='prendreCharge()'>Prendre en charge</button>
        </div>
      </div>
    </div>
  </div>
