<img src="https://img.icons8.com/cotton/30/000000/task-planning.png" ><h4 style="display: inline;">Restants : {{tIncident}}</h4><br>
<img src="https://img.icons8.com/dusk/30/000000/error.png"><h4 style="display: inline;">Signalés : {{sIncident}}</h4><br>
<img src="https://img.icons8.com/plasticine/30/000000/ok.png"><h4 style="display: inline;">Pris en charge : {{pIncident}}</h4>
<h3 style="position: relative;float: right;font-family: 'Lobster', cursive; margin-bottom: 50px;">M. {{nom}}</h3>
<h4 id = "textAtt" *ngIf="isIncidents">Attente d'incident...</h4>
<ul class="list-group" id="incidents" style="width: 60%; margin: auto;">
    <app-incident-view *ngFor="let incident of incidents; let i = index"
    [message]="incident"
    [index]="i"></app-incident-view>
</ul>
