#textAtt{
    position: relative;
    width: 200px;
    animation-name: texte;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes texte {
    0%   {left:0px; top:0px;background-color: dodgerblue;color: aliceblue;}
    25%  {left:50%; top:0px;background-color: aliceblue;color: dodgerblue;}
    50%  {left:0px; top:0px;background-color: dodgerblue;color: aliceblue;}
    75%  {left:50%; top:0px;background-color: aliceblue;color: dodgerblue;}
    100% {left:0px; top:0px;background-color: dodgerblue;color: aliceblue;}
}